<div class="card bg-dark">
    <img src="/images/nasa_mars.jpeg" class="card-img w-auto" alt="images/nasa_mars.jpeg">
    <div class="card-img-overlay">
      <div class="container text-white text-center pt-5">
        <h1>Mars images browser</h1>
        <footer class="footer h5">Browse NASA Mars images and save your preferred ones</footer>
      </div>
    </div>
  </div>