<!doctype html>
<html lang="en">
  <head>
    <%- include('./partials/head', { js_path: js_path, title: title}) %>
  </head>
  <body>

    <%- body %>

    <%- include('./partials/footer') %>
  </body>
</html>