/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

#loading .modal-content {
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@media (min-width: 1200px) {
  #carousel {
      width: 1000px;
  }
}
