<div class="container pt-5">
    <div class="row align-items-center">
      <div class="col-md-12 col-lg-6">
        <%- include('../partials/image_card')%>
      </div>
      <div class="col-md-12 col-lg-6 pt-5">
        <div class="row">
          <div class="shadow-lg p-3 mb-5 bg-body rounded d-block">
            <h1><%= message %></h1>
            <h2><%= error.status %></h2>
            <h2 class="text-center">Sorry but this page does not exist or can not be accessed.</h2>
            <h2 class="text-center">In a few moments we'll pass you a page.</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
    
